:root {
  --theme-background:     #fff;
  --theme-primary:        hsla(18, 88%, 48%, 1);
  --theme-primary-darken: hsla(18, 88%, 43%, 1);
  --theme-color: var(--theme-background);
}

@media (prefers-color-scheme: dark) { 
  :root {
    --theme-background:     #2a2a2a;
    --theme-primary:        hsla(24, 96%, 56%, 1);
    --theme-primary-darken: hsla(24, 96%, 51%, 1);
  }
} 

html, body { height: 100%; }

body {
  background-color: #fff;
  background-color: var(--theme-background);
  display: flex;
  flex-direction: column;
}

.Message {
  display: none;
  font-size: 0.95em;
  padding: .25rem .75rem;
  position: relative;
}
.Message::after,
.Message::before {
  content: "";
  display: block;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
.Message::after {
  background-color: #f16529;
  background-color: var(--theme-primary);
  opacity: .2;
}
.Message::before {
  border-bottom: 2px solid;
  border-bottom-color: #e44d26;
  border-bottom-color: var(--theme-primary-darken);
}
.ie-legacy .Message {
  display: block;
}

.Main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.App {
  color: #f16529;
  color: var(--theme-primary);
  font-size: 2.5rem;
}
.App__title {
  margin: 0;
  margin-bottom: .7em;
}

.Dimensions {
  font-size: 1.75em;
  margin: 0;
}
.no-js .Dimensions {
  display: none;
}

#w::after,
#h::after {
  content: "px";
  font-size: 2rem;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.Footer-toggle {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}
.Footer-toggle svg {
  fill: #f16529;
  fill: var(--theme-primary);
}
.Footer-toggle svg:hover {
  fill: #e44d26;
  fill: var(--theme-primary-darken);
}
.Footer.Expanded .Footer-toggle svg {
  fill: #fff;
  fill: var(--theme-color);
}
.Footer .Container {
  background-color: #f16529;
  background-color: var(--theme-primary);
  border-top-color: #e44d26;
  border-top-color: var(--theme-primary-darken);
  border-top-width: 0;
  border-top-style: solid;
  color: #fff;
  color: var(--theme-color);
  overflow: hidden;
  height: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}
.Footer.Expanded .Container {
  height: auto;
  padding: 20px;
  border-top-width: 20px;
}
.Footer__title {
  font-size: 1.2rem;
  margin: 0;
  text-transform: lowercase;
}
.Footer__divider {
  border: none;
  border-bottom: 1px dashed;
  border-bottom-color: #fff;
  border-bottom-color: var(--theme-color);
}
.Maintainers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Maintainers__item {
  display: inline;
  margin-right: .5em;
}
.Maintainers__item:not(:last-child)::after {
  content: ",";
}
.Maintainers__link {
  border-bottom: 1px dotted;
  color: #fff;
  color: var(--theme-color);
  display: inline-block;
  text-decoration: none;
}


@media only screen and (max-width: 35rem) and (orientation: landscape) {
  .App__title { display: none; }
  #w, #h { display: inline; }
}

@media (max-width: 30rem) {
  #w, #h { display: block; }
}

@media (max-width: 38rem) {
  .App__title { display: none; }
}


@media only screen and (min-width: 72rem) {
  .Container {
    margin: 0 auto;
    width: 1024px;
  }
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
