/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.footer-container,
.main aside {
    background: #f16529;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

html, body {height: 100%;}

.main-container {
    height: 100%;
    margin-bottom: -50px;
    width: 100%;

    /* Flexbox hawtness */
    display: -webkit-flex;
    display: flex;
}
    .main.wrapper {
        margin: auto;
        text-align: center;
    }
        .main.wrapper h1,
        .main.wrapper .dimensions {
            color: #f16529;
            font-size: 3.5rem;
            line-height: 3rem;
        }
        .main.wrapper h1 {
            margin-top: 0;
            margin-bottom: 50px;
        }

.footer-container {
    min-height: 120px;
    padding-bottom: 10px;
}
    .footer-container h3 {
        margin: 0;
    }
    .maintainers {
        list-style-type: none;
        padding: 0;
    }
        .maintainers li {
            display: inline;
            float: left;
            padding: 0 7px;
        }
        .maintainers li:not(:last-child)::after {content: ","; margin-left: 3px;}
            .maintainers li a {
                border-bottom: 1px dotted;
                color: #fff;
                display: inline-block;
                text-decoration: none;
            }


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 480px) {

/* ====================
    Break the dimensions for mobile
   ==================== */
    #w, 
    #h {
        display: block;
    }
    #w::after,
    #h::after {
        content: "px";
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}