/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 62.5%;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {height: 100%;}

.site-container {
    height: 100%;
    width: 100%;

    /* Old flexbox syntax - maximise support for layout */
    display: -webkit-box;
    display:    -moz-box;
    display:     -ms-box;
    display:      -o-box;
    display:         box;
    -webkit-box-orient: vertical;
       -moz-box-orient: vertical;
        -ms-box-orient: vertical;
         -o-box-orient: vertical;
            box-orient: vertical;
    
    /* New flexbox syntax! */
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
            flex-direction: column;
}

.main-container {
    width: 100%;
    margin: auto;

    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-box-flex: 1;
         -o-box-flex: 1;
            box-flex: 1;
}
    .main.wrapper {
        color: #f16529;
        font-size: 3rem;
        margin: auto;
        text-align: center;
    }
        .main.wrapper h1 {
            margin-top: 0;
            margin-bottom: 50px;
        }
        .main.wrapper .dimensions {
            font-size: 2em;
        }

#w::after,
#h::after {
    content: "px";
    font-size: 2rem;
}

.footer-container {
    background: #f16529;
    border-top: 20px solid #e44d26;
    color: white;
    font-size: 1.6rem;
    padding: 20px;
/*    position: fixed;
        right: 0; bottom: 0; left: 0;*/
}
    .footer-container h3 {
        margin: 0;
    }
    .footer-container hr {
        border: none;
        border-bottom: 1px dashed #fff;
    }
    .footer-container .wrapper {overflow: hidden;}
    .maintainers {
        list-style-type: none;
        padding: 0;
    }
        .maintainers li {
            display: inline;
            float: left;
            padding: 0 7px;
        }
        .maintainers li:not(:last-child)::after {content: ","; margin-left: 3px;}
            .maintainers li a {
                border-bottom: 1px dotted;
                color: #fff;
                display: inline-block;
                text-decoration: none;
            }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Responsive: Landscape phone AND UP TO desktop/tablet
/* --------------------------------------------- */
@media (max-width: 767px) {
    .main.wrapper h1 {display: none;}
}

/* UP TO LANDSCAPE PHONE MAX
/* ------------------------- */
@media (max-width: 480px) {
    #w, #h {
        display: block;
    }
}

@media only screen and (max-width: 568px) and (orientation:landscape) {
    .main h1 {
        display: none;
    }
    #w,
    #h {
        display: inline;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}