$theme-background: #fff;
$theme-primary:  #d74002;
$theme-primary-darken: #{adjust-color($theme-primary, $lightness: -5)};
$theme-color: $theme-background;
$theme-icon-fill: $theme-primary;

:root {
  --theme-background:     #{$theme-background};
  --theme-primary:        #{$theme-primary};
  --theme-primary-darken: #{$theme-primary-darken};
  --theme-color: var(--theme-background);
  --theme-icon-fill: var(--theme-primary);
}

@media (prefers-color-scheme: dark) { 
  :root {
    --theme-background:     #2a2a2a;
    --theme-primary:        #{adjust-color($theme-primary, $saturation: 12, $lightness: 12)};
    --theme-primary-darken: #{adjust-color($theme-primary, $saturation: 7, $lightness: 7)};
  }
}

html, body { height: 100%; }

body {
  background-color: $theme-background;
  background-color: var(--theme-background);
  display: flex;
  flex-direction: column;
}

.Message {
  display: none;
  font-size: 0.95em;
  padding: .25rem .75rem;
  position: relative;
}
.Message::after,
.Message::before {
  content: "";
  display: block;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
.Message::after {
  background-color: $theme-primary;
  background-color: var(--theme-primary);
  opacity: .2;
}
.Message::before {
  border-bottom: 2px solid;
  border-bottom-color: $theme-primary-darken;
  border-bottom-color: var(--theme-primary-darken);
}
.ie-legacy .Message {
  display: block;
}

.Main {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.App {
  color: $theme-primary;
  color: var(--theme-primary);
  font-size: 2.5rem;
}
.App__title {
  display: none;
  margin: 0;
  margin-bottom: .7em;
}

.Dimensions {
  font-size: 1.75em;
  margin: 0;
}
.no-js .Dimensions {
  display: none;
}

#w, #h { display: block; }

#w,
#h,
#screen_w,
#screen_h {
  &::after {
    content: "px";
    font-size: .75em;
  }
}

.Additional {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: .5em;
  justify-content: center;

  p {
    margin: 5px 0;
  }
}

.Footer {
  background-color: $theme-primary;
  background-color: var(--theme-primary);
  border-top-color: $theme-primary-darken;
  border-top-color: var(--theme-primary-darken);
  border-top-width: 0;
  border-top-style: solid;
  color: $theme-color;
  color: var(--theme-color);
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

  &__toggle {
    background-color: transparent;
    border: 0;
    bottom: 1.5rem;
    cursor: pointer;  
    margin: 0;
    padding: 0;
    position: absolute;
      right: 1.5rem;
  }

  &__title {
    font-size: 1.2rem;
    margin: 0;
  }
  
  &__icon {
    fill: $theme-icon-fill;
    fill: var(--theme-icon-fill);

    &:hover {
      fill: $theme-primary-darken;
      fill: var(--theme-primary-darken);
    }
  }

  .Container {
    overflow: hidden;
    height: 0;
    padding: 0;
  }

  &.Expanded {
    border-top-width: 20px;
    
    .Container {
      height: auto;
      padding: 20px;
    }
  }
}

@media only screen and (min-width: 35rem) and (orientation: landscape) {
  #w, #h { display: inline; }
}

@media (min-width: 38rem) {
  .App__title { display: block; }

  .Additional {
    flex-direction: row;
    font-size: .7em;
    justify-content: space-between;

    p {
      margin: 0;
    }
  }
}


@media only screen and (min-width: 72rem) {
  .Container {
    margin: 0 auto;
    width: 1024px;
  }
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
